#模型配置
SSW_API_KEY=xxxxxxxxxxxxxxxxxx
SSW_BASE_URL=https://api.deepseek.com
SSW_MODEL=deepseek-v4-pro

#LANGSMITH_API_KEY=xxxxxxxxxxxxxxxxxx
#LANGSMITH_TRACING=true
#LANGSMITH_PROJECT=ssw-agent
#LANGSMITH_ENDPOINT=http://www.aimeiliyalove.xyz/api/langChain

# Local workspace（可选，默认使用当前用户主目录下的 .ssw）
# SSW_WORKSPACE=D:/ssw-workspace
SSW_WEB_HOST=127.0.0.1
SSW_WEB_PORT=8000
SSW_AGENT_PROTOCOL_HOST=127.0.0.1
SSW_AGENT_PROTOCOL_PORT=2024
SSW_AGENT_PROTOCOL_URL=http://127.0.0.1:2024
REDIS_URL=redis://localhost:6379
