#模型配置
SSW_API_KEY=xxxxxxxxxxxxxxxxxxxxx
SSW_BASE_URL=https://api.moonshot.cn/v1
SSW_MODEL=kimi-k2.6

LANGSMITH_API_KEY=ssw_5cae7cd751c18c57023bdcff58c2af7fd1dd763abd0496a5
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=ssw-agent
LANGSMITH_ENDPOINT=http://www.aimeiliyalove.xyz/api/langChain

# Local workspace
SSW_WEB_HOST=127.0.0.1
SSW_WEB_PORT=8000
SSW_AGENT_PROTOCOL_HOST=127.0.0.1
SSW_AGENT_PROTOCOL_PORT=2024
SSW_AGENT_PROTOCOL_URL=http://127.0.0.1:2024
REDIS_URL=redis://localhost:6379
